/* ================= card blog ================= */
.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 1.2rem;
}

.blog-card {
  margin: .8rem;
  width: 18rem;
  height: 17rem;
  padding: 5px;
  background-color: var(--white);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.053);
  border-radius: 10px;
  border: none;
  transition: all .3s;
}

.blog-card:hover {
  transform: scale(1.08);
}

.card-body {
  align-items: center;
}

.btn-blog {
  border-radius: 20px;
  background-color: var(--white);
  border: 1.5px solid var(--secondary);
  color: var(--neutral);
  font-size: .8rem;
  transition: all .3s;
}

.btn-blog:hover {
  background-color: var(--secondary);
  border: 1.5px solid var(--secondary);
  font-weight: 700;
  color: var(--neutral);
}

/* ================= responsive ================= */
@media screen and (max-width: 350px) {
  .blog-card {
    height: 18.5rem;
  }
}