/* =========== hero carousel =========== */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
  flex-wrap: wrap;
}

/* hero-title */
.heading {
  max-width: 23rem;
  position: relative;
  margin-bottom: 1.8rem;
}

.headline {
  font-size: 3rem;
  font-weight: 600;
  color: var(--neutral);
}

.tagline {
  font-size: .7rem;
  font-weight: 700;
  color: var(--accent);
  margin: 0;
}

.sub-headline {
  margin: 1.8rem 0;
  color: var(--neutral);
}

/* title accessories */
.star-doodle {
  display: flex;
  align-items: end;
  gap: 7px;
  position: absolute;
  right: .5em;
  top: 1.8em;
}

.star-doodle-top {
  max-width: 2.3rem;
  rotate: -10deg;
}

.star-doodle-bottom {
  max-width: 1.8rem;
  rotate: 40deg;
}

.wave-doodle {
  max-width: 4rem;
  position: absolute;
  bottom: -2em;
  right: 6.5em;
}

/* cta */
.btn-cta {
  font-size: .8rem;
  font-weight: 700;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: 10px 24px;
  border-radius: 20px;
  transition: all .2s;
  color: var(--neutral);
}

.btn-cta:hover {
  background-color: var(--white);
}

/* hero image */
.hero-image {
  position: relative;
}

.collage-container {
  padding: 20px 40px;
}

.collage-container .row .col {
  padding: 0;
  margin: .6rem;
}

.collage-item {
  max-width: 10rem;
}

.img-square {
  border-radius: 10px;
}

.round-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.round-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

/* image accesories */
.circle-yellow {
  background-color: #ffe69a;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  position: absolute;
  top: -.5em;
  right: -1em;
  z-index: -1;
}

.circle-grey {
  background-color: #e9e9e9;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
  top: 9em;
  right: -2em;
}

.circle-blue {
  background-color: #c1f6ff;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -.5em;
  z-index: -1;
}

.chat-doodle {
  max-width: 3rem;
  position: absolute;
  top: -.5em;
  right: -1em;
}

.heart-doodle {
  max-width: 2rem;
  position: absolute;
  top: 8.3em;
  right: -1em;
  rotate: -15deg;
}

.arrow-doodle {
  max-width: 3.5rem;
  position: absolute;
  bottom: .5em;
  left: -1.5em;
  transform: scaleX(-1);
  rotate: -25deg;
}

/* ========== pop up ========== */
/* card */
.popup {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
}

.popup-item {
  background-color: var(--white);
  position: relative;
  max-width: fit-content;
  padding: 40px;
  border-radius: 10px;
}

#btn-close {
  position: absolute;
  top: .7em;
  right: .7em;
  line-height: normal;
}

/* table */
.table {
  max-width: 30rem;
  margin: 0;
}

.col-header {
  text-align: center;
  color: var(--neutral);
}

.row-item {
  text-align: center;
}

.fa-check {
  color: var(--primary);
}

.fa-xmark {
  color: #bbbbbb;
}

.btn-order {
  background-color: var(--secondary);
  font-size: .8rem;
  font-weight: 700;
  border: 1px solid var(--secondary);
  padding: 8px 15px;
  border-radius: 25px;
  transition: all .2s;
}

.btn-order:hover {
  background-color: var(--white);
}