@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* default */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  list-style: none;

  /* colors */
  --primary: #0063ff;
  --secondary: #ffcf3a;
  --accent: #fa6400;
  --white: #fff;
  --neutral: #303030;
  --disable: #e9e9e9;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* navbar */
.container-fluid {
  padding: .5rem 1.5rem;
}

.nav-link {
  transition: all .2s;
}

.nav-link:hover {
  color: var(--primary);
  font-weight: 700;
}

.logo {
  font-size: 1.35rem;
  font-weight: 700;
}

/* hero */
.page-hero {
  text-align: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
}

.page-heading {
  color: var(--neutral);
  font-weight: 700;
}

.page-subheading {
  color: var(--neutral);
}

.hero-circle-big {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
}

.top-circle {
  background-color: var(--secondary);
  top: -2rem;
  right: 10rem;
}

.bottom-circle {
  background-color: var(--primary);
  bottom: -3.5rem;
  left: 10rem;
}

.hero-circle-small {
  background-color: var(--accent);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 4rem;
  right: 8rem;
}

.hero-doodle {
  max-width: 2rem;
  position: absolute;
}

.top-doodle {
  top: 2rem;
  right: 10rem;
}

.bottom-doodle {
  bottom: 1rem;
  left: 10rem;
}

/* text style */
.headline {
  font-size: 3rem;
  font-weight: 600;
  color: var(--neutral);
}

.tagline {
  font-size: .7rem;
  font-weight: 700;
  color: var(--accent);
  margin: 0;
}

.sub-headline {
  margin: 1.8rem 0;
  color: var(--neutral);
}

.section-heading {
  font-weight: 600;
  text-align: center;
  margin: .2rem 0 1rem 0;
}

/* footer */
.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--white);
}

.footer-container {
  position: relative;
  overflow: hidden;
}

.footer-item {
  margin: 1rem 0;
}

.icon {
  font-size: 2rem;
  color: var(--primary);
  transition: all .3s;
}

.icon:hover {
  transform: scale(1.2);
}

.footer-line {
  width: 100%;
  height: 1rem;
  background-color: var(--primary);
}

.footer-circle {
  width: 8rem;
  height: 8rem;
  background-color: var(--secondary);
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  border-radius: 50%;
}

/* ====================== responsive ====================== */
@media screen and (max-width: 740px) {
  /* hero */
  .hero-circle-big {
    width: 4rem;
    height: 4rem;
  }

  .top-circle {
    top: -2rem;
    right: 2rem;
  }

  .bottom-circle {
    bottom: -2rem;
    left: 2.5rem;
  }
  
  .hero-circle-small {
    width: 1rem;
    height: 1rem;
    top: 2.5rem;
    right: 2rem;
  }
  
  .hero-doodle {
    max-width: 1.5rem;
  }

  .top-doodle {
    top: .8rem;
    right: 2.5rem;
  }
  
  .bottom-doodle {
    bottom: 1rem;
    left: 5rem;
  }
}